@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// COLORS
$cl-white: #fff;
$cl-very-dark-purple: #0e0323;
$cl-grey: #c4c1cc;
$cl-black: #000;

// FONT-FAMILY
$ff-poppins: "Poppins", sans-serif;

// FONT-SIZE
$fs-normal: 1.8rem;
$fs-x-small: 2rem;
$fs-small: 2.4rem;
$fs-medium: 3.2rem;
$fs-xxlarge: 10rem;

// FONT-WEIGHT
$fw-tiny: 400;
$fw-small: 500;
$fw-medium: 600;
$fw-large: 700;

// MIXIN/S
@mixin transitionAll {
	transition: all 0.2s;
}
